[submodule "site-cookbooks/jetty"]
	path = site-cookbooks/jetty
	url = https://github.com/opscode-cookbooks/jetty
[submodule "site-cookbooks/java"]
	path = site-cookbooks/java
	url = https://github.com/opscode-cookbooks/java
[submodule "site-cookbooks/windows"]
	path = site-cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows
[submodule "site-cookbooks/chef_handler"]
	path = site-cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler
[submodule "site-cookbooks/jpackage"]
	path = site-cookbooks/jpackage
	url = https://github.com/opscode-cookbooks/jpackage
[submodule "site-cookbooks/openssl"]
	path = site-cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "site-cookbooks/nginx"]
	path = site-cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx
[submodule "site-cookbooks/apt"]
	path = site-cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "site-cookbooks/build-essential"]
	path = site-cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "site-cookbooks/ohai"]
	path = site-cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai
[submodule "site-cookbooks/yum"]
	path = site-cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum
[submodule "site-cookbooks/haproxy"]
	path = site-cookbooks/haproxy
	url = https://github.com/opscode-cookbooks/haproxy
[submodule "site-cookbooks/cpu"]
	path = site-cookbooks/cpu
	url = https://github.com/Youscribe/cpu-cookbook.git
